[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "2.7"

[packages]
zappa = ">=0.41"
flask = ">=0.12"
flask-s3 = ">=0.3"
flask-markdown = ">=0.3"
boto3 = ">=1.4"

[dev-packages]
awscli = "*"
flake8 = "*"
pytest = ">=2.8.0"
pytest-flask = "*"
