[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "2.7"

[packages]
zappa = ">=0.35"
flask = ">=0.12"
flask-s3 = ">=0.3"
flask-sslify = ">= 0.1.5"
flask-markdown = ">=0.3"
boto3 = ">=1.4"
{%- if cookiecutter.build_alexa_skill == "y" %}
flask-ask = ">=0.8"
{%- endif %}

[dev-packages]
awscli = "*"
autopep8 = "*"
pylint = "*"
pytest = "*"
pytest-flask = "*"
